<div class="home-middle-box">
  <div class="mbox"></div>
  <div class="mid-shadow-frame">
    <div class="js-container padding-both-50 padding-updown-30">
      <form class="form theme-brown form-small" method="post" action="#">
        <p class="text-left width-full">
          如需了解如何成为绘己酵素代理商，请填写以下信息，我们的工作人员将尽快联系您。
        </p>
        <fieldset class="js-fieldset-inline text-left" >
          <div class="js-form-group">
            <label class="js-form-label" style="letter-spacing: 10px;">联系人</label>
            <input class="js-form-input" type="text">
          </div>
          <div class="js-form-group">
            <label class="js-form-label" style="letter-spacing: 20px;">公司</label>
            <input class="js-form-input" type="text">
          </div>
        </fieldset>
        <fieldset class="js-fieldset-inline text-left" >
          <div class="js-form-group">
            <label class="js-form-label" style="letter-spacing: 3px;">销售渠道</label>
          </div>
          <div class="js-inline-block">
            <div class="js-checkbox js-form-group">
              <input type="checkbox" name="taobao" id="taobao">
              <div></div> 
              <label class="trans_big_1"  for="taobao">淘宝</label>
            </div>
            <div class="js-checkbox js-form-group">
              <input type="checkbox" name="tianmao" id="tianmao">
              <div></div> 
              <label class="trans_big_1"  for="tianmao">天猫</label>
            </div>
            <div class="js-checkbox js-form-group">
              <input type="checkbox" name="weishang" id="weishang">
              <div></div> 
              <label class="trans_big_1"  for="weishang">微商</label>
            </div>
            <div class="js-checkbox js-form-group">
              <input type="checkbox" name="meirongyuan" id="meirongyuan">
              <div></div> 
              <label class="trans_big_1"  for="meirongyuan">美容院</label>
            </div>
            <div class="js-checkbox js-form-group">
              <input type="checkbox" name="jianshenfang" id="jianshenfang">
              <div></div> 
              <label class="trans_big_1"  for="jianshenfang">健身房</label>
            </div>
            <div class="js-checkbox js-form-group">
              <input type="checkbox" name="canting" id="canting">
              <div></div> 
              <label class="trans_big_1"  for="canting">餐厅/会所</label>
            </div>
            <div class="js-checkbox js-form-group">
              <input type="checkbox" name="shangchang" id="shangchang">
              <div></div> 
              <label class="trans_big_1"  for="shangchang">商场/超市</label>
            </div>
            <div class="js-checkbox js-form-group">
              <input type="checkbox" name="qita" id="qita">
              <div></div> 
              <label class="trans_big_1"  for="qita">其他（请简单介绍）</label>
            </div>
          </div>
        </fieldset>
        <fieldset class="js-fieldset-inline text-left" >
          <div class="js-form-group">
            <label class="js-form-label" style="letter-spacing: 3px;">手机号码</label>
            <input class="js-form-input" type="text">
          </div>
          <div class="js-form-group">
            <label class="js-form-label" style="letter-spacing: 3px;">手机号码</label>
            <input class="js-form-input" type="text">
          </div>
          <div class="js-form-group">
            <label class="js-form-label" style="letter-spacing: 3px;">固定电话</label>
            <input class="js-form-input" type="text">
          </div>
        </fieldset>
        <fieldset class="js-fieldset-inline text-left" >
          <div class="js-form-group">
            <label class="js-form-label" style="letter-spacing: 10px;">所在地</label>
            <input class="js-form-input" type="text">
          </div>
          <div class="js-form-group">
            <label class="js-form-label" style="letter-spacing: 3px;">电子邮箱</label>
            <input class="js-form-input" type="text">
          </div>
          <div class="js-form-group">
            <label class="js-form-label" style="letter-spacing: 3px;">业务介绍</label>
            <input class="js-form-input" type="text">
          </div>
        </fieldset>
        <fieldset class="js-fieldset-inline">
          <button class="js-btn-justified" type="submit">提交</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
