<div class="main-body">
  <div class="sub-frame">
    <article>
      <div class="row" style="padding:30px 0px">
        <h4 style="padding: 0 30px">酵素课堂简单介绍</h4>
        <div class="col-xs-8">
          <img src="/images/desc_1.png" width="100%">
          <p style="padding:0 15px">
            虽然酶大多是蛋白质，但少数具有生物催化功能的分子并非为蛋白质，有一些被称为核酶的RNA分子也具有催化功能。此外，通过人工合成所谓人工酶也具有与酶类似的催化活性，包括人工合成的DNA。 有人认为酶应定义为具有催化功能的生物大分子，即生物催化剂。
          </p>
        </div>
        <div class="col-xs-4">
          <p>
            虽然酶大多是蛋白质，但少数具有生物催化功能的分子并非为蛋白质，有一些被称为核酶的RNA分子也具有催化功能。此外，通过人工合成所谓人工酶也具有与酶类似的催化活性，包括人工合成的DNA。 有人认为酶应定义为具有催化功能的生物大分子，即生物催化剂。
            虽然酶大多是蛋白质，但少数具有生物催化功能的分子并非为蛋白质，有一些被称为核酶的RNA分子也具有催化功能。此外，通过人工合成所谓人工酶也具有与酶类似的催化活性，包括人工合成的DNA。 有人认为酶应定义为具有催化功能的生物大分子，即生物催化剂。
            虽然酶大多是蛋白质，但少数具有生物催化功能的分子并非为蛋白质，有一些被称为核酶的RNA分子也具有催化功能。此外，通过人工合成所谓人工酶也具有与酶类似的催化活性，包括人工合成的DNA。 有人认为酶应定义为具有催化功能的生物大分子，即生物催化剂。
          </p>
        </div>
      </div>
    </article>
  </div> 
</div>
