<div class="home-middle-box">
  <div class="mbox">
    <div class="row" style="width:100%;height:100%">
      <div class="col-xs-6 letter-5" style="padding:70px;font-size:1.2em;margin:20px 0;border-right:1px #ddd solid;">
        <img src="/images/qr_code_1.jpg" width=120px>
        <p class="theme-brown no-margin" style="padding: 30px 0 0 0">
          关注绘己微信公众号 
        </p>
        <p class="theme-brown no-margin">
          了解更多酵素小常识
        </p>
      </div>
      <div class="col-xs-6 login-frame" style="border-left:#fff 1px solid">
        <form class="form" id="login" action="#" method="post">
          <div class="js-form-group login-group text-left">
            <label class="js-login-label letter-5">授权号</label>
            <img src="/images/input_normal.png" width="220px">
            <input class="login-input" type="text">
          </div> 
          <div class="js-form-group login-group text-left">
            <label class="js-login-label letter-8">密码</label>
            <img src="/images/input_normal.png" width="220px">
            <input class="login-input" type="password">
          </div>
          <div class="bottom-line"></div>
          <div class="js-form-group login-group">
            <a href="javascript:void(0);" type="submit">
              <img class="js-btn" id="lg-btn" src="/images/login_normal.png">
            </a>
          </div>
          <div class="text-right ft-tiny theme-brown letter-1" style="margin-top:20px;">
            如忘记密码或登录遇到问题，请联系全国服务电话4000-527-572
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="mid-shadow-frame">
  </div>
</div>
