<div class="home-middle-box">
    <carousel current-slide="currentSlide" forward="forward">
        <slide ng-repeat="img in images">
            <img ng-src="{{img}}" alt="" />
        </slide>
    </carousel>
    <div class="mbox"></div>
    <div class="block-line">
        <div style="width:1100px;margin-left:auto;margin-right:auto">
            <div class="float-left" id="home-left">
                <article class="art-wrap text-left float-right" style="width:280px;">
                    酶（德语：Enzyme，源于希腊语：ενζυμον，“在酵里面”），指具有生物催化功能的高分子物质。 在酶的催化反应体系中，反应物分子被称为底物，底物通过酶的催化转化为另一种分子。几乎所有的细胞活动进程都需要酶的参与，以提高效率。与其他非生物催化剂相似，酶通过降低化学反应的活化能（用Ea或ΔG表示）来加快反应速率，大多数的酶可以将其催化的反应之速率提高上百万倍；事实上，酶是提供另一条活化能需求较低的途径，使更多反应粒子能拥有不少于活化能的动能，从而加快反应速率。酶作为催化剂，本身在反应过程中不被消耗，也不影响反应的化学平衡。
                </article>
            </div>
            <div class="float-right" id="home-right">
                <article class="art-wrap">
                    <h4 class="no-spacing desc-title text-left">酵素课堂简单介绍</h4>
                    <img class="home-art-img" src="/images/desc_1.png">
                    <p class="desc-content text-left">
                        虽然酶大多是蛋白质，但少数具有生物催化功能的分子并非为蛋白质，有一些被称为核酶的RNA分子也具有催化功能。此外，通过人工合成所谓人工酶也具有与酶类似的催化活性，包括人工合成的DNA。
                        有人认为酶应定义为具有催化功能的生物大分子，即生物催化剂。
                    </p>
                    <div class="more-frame text-right">
                      read more..
                      <img src="/images/mores.png" class="more-arrow float-right">
                      <div class="clear-both"></div>
                    </div>
                    <h4 class="no-spacing desc-title text-left">品牌代理简单介绍</h4>
                    <img class="home-art-img" src="/images/desc_2.png">
                    <p class="desc-content text-left">
                        虽然酶大多是蛋白质，但少数具有生物催化功能的分子并非为蛋白质，有一些被称为核酶的RNA分子也具有催化功能。此外，通过人工合成所谓人工酶也具有与酶类似的催化活性，包括人工合成的DNA。
                        有人认为酶应定义为具有催化功能的生物大分子，即生物催化剂。
                    </p>
                    <div class="more-frame text-right">
                      read more..
                      <img src="/images/mores.png" class="more-arrow float-right">
                      <div class="clear-both"></div>
                    </div>
                </article>
            </div>
            <div class="clear-both"></div>
        </div>
    </div>
</div>
